//
//  AppStoreTarget.xcconfig
//  Moments
//
//  Created by GRZ on 2024/11/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_VERSION_SUFFIX = 0
PRODUCT_VERSION_BASE = 1.0.0
PRODUCT_VERSION=$(PRODUCT_VERSION_BASE).$(PRODUCT_VERSION_SUFFIX)

INFOPLIST_KEY_CFBundleDisplayName = Moments
PRODUCT_BUNDLE_IDENTIFIER = jake.moments
